[connection]
id={{ item.ssid }}
uuid={{ item.ssid | to_uuid }}
type=wifi
autoconnect=true

[wifi]
mode=infrastructure
ssid={{ item.ssid }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
