[connection]
id={{ item.ssid }}
uuid={{ 99999999999 | random | to_uuid }}
type=wifi
autoconnect=true

[wifi]
mode=infrastructure
ssid={{ item.ssid }}

[wifi-security]
auth-alg=open
key-mgmt=wpa-eap

[802-1x]
eap=peap;
identity={{ item.identity }}
password={{ item.password }}
phase2-auth={{ item.phase2_auth }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
