[Unit]
Description=NFS mount for {{ item.name }}
After=network-online.target
After=tailscaled.service
Wants=network-online.target

[Mount]
What={{ item.what }}
Where={{ nfs_mount_base }}/{{ item.name }}
Type=nfs
Options={{ item.options | default(nfs_default_options) }}

[Install]
WantedBy=remote-fs.target
