[Unit]
Description=Automount for {{ item.name }} NFS share

[Automount]
Where={{ nfs_mount_base }}/{{ item.name }}
TimeoutIdleSec={{ item.timeout | default(nfs_default_timeout) }}

[Install]
WantedBy=multi-user.target
